/* .amh-container { */
/*     display: -webkit-box; */
/*     display: -ms-flexbox; */
/*     display: flex; */
/*     -webkit-box-orient: vertical; */
/*     -webkit-box-direction: normal; */
/*         -ms-flex-direction: column; */
/*             flex-direction: column; */
/* } */

/* .amh-content-fill { */
/*     -webkit-box-flex: 1; */
/*         -ms-flex: 1; */
/*             flex: 1; */
/* } */

table.receipt-table, table.receipt-table th, table.receipt-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.receipt-table th, table.receipt-table td {
    padding: 5px;
}

table.receipt-table tr:nth-child(even) {
    background-color: #eee;
}
table.receipt-table tr:nth-child(odd) {
    background-color: #fff;
}
table.receipt-table th {
    color: white;
    background-color: black;
}
